PORT=3000

DATABASE_URL="postgresql://usuario:senha@localhost:5432/database"

SAP_SERVICE_LAYER_URL="https://seu-servidor-sap:50000"
SAP_SERVICE_LAYER_COMPANY_DB="SUA_EMPRESA"
SAP_SERVICE_LAYER_USERNAME="seu_usuario"
SAP_SERVICE_LAYER_PASSWORD="sua_senha"
SAP_SERVICE_LAYER_TIMEOUT_MS=30000
